html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}

html,
body {
  height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

ul {
  list-style: none;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p, pre,
blockquote, ul, ol, dl, address {
  font-weight: normal;
}

a, a:link, a:visited, a:hover, a:active {
  outline: 0;
  text-decoration: none;
}

a img {
  border: none;
  text-decoration: none;
}

img {
  border: none;
  text-decoration: none;
}

label, button {
  cursor: pointer;
}

input:focus,
select:focus,
textarea:focus {
  background-color: #FFF;
}
