/* Container */
.container {
  margin-top: 44px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Nav */
.header {
  display: flex;
  padding: 5px 8px 4px;
  position: fixed;
  top: -1px;
  left: 0px;
  right: 0px;
  z-index: 4;
  font-size: 14px;
  font-weight: 600;
  margin: 0px;
  justify-content: space-around;
}
.nav {
  display: grid;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  justify-self: center;
  max-width: 968px;
  position: relative;
  grid-template-columns: repeat(6, max-content);
  z-index: 3;
}
.header-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: -1;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 0px;
  backdrop-filter: saturate(180%) blur(20px);
}
.nav-label.active .nav-item {
  --nav-bg-opacity: 1;
  background-color: rgba(59,130,246,var(--nav-bg-opacity));
  --nav-bg-opacity: 0.1;
  --nav-text-opacity: 1;
  color: rgba(59,130,246,var(--nav-text-opacity));
}
.nav-label {
  display: flex;
  flex: 1 1 0%;
  z-index: 3;
  position: relative;
}
.nav-item {
  padding: 8px 32px;
  border-radius: 4px;
  width: 100%;
  text-align: center;
  margin: 0px 1px;
  color: #666666;
}
.nav-item:hover {
  --nav-bg-opacity: 1;
  background-color: rgba(59,130,246,var(--nav-bg-opacity));
  --nav-bg-opacity: 0.1;
  --nav-text-opacity: 1;
  color: rgba(59,130,246,var(--nav-text-opacity));
}

/* notification */
.notification {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 40px;
  text-align: center;
  font-size: 16px;
  background-color: #fff;
  border-radius: 8px;
  --shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.06);
      box-shadow: var(--ring-offset-shadow,0 0 transparent), var(--ring-shadow,0 0 transparent), var(--shadow);
}
.notification .success {
  color: var(--primary-color);
}
.notification .error {
  color: var(--error-color);
}
/* signup */
.form {
  padding: 40px 0;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.field label {
  width: 80px;
  height: 40px;
  line-height: 40px;
}
.field input {
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  border: 1px solid #666666;
}
.field textarea {
  border-radius: 5px;
  border: 1px solid #666666;
}
.field input:focus,
.field textarea:focus {
  border: 1px solid #666666;
  outline: none;
}
.form input[type=file] {
  padding-left: 25px;
  border: none;
  outline: none;
}
.form input[type=file]:focus {
  outline: none;
}
.form input[type=submit] {
  margin: 40px auto 0;
  width: calc(100% - 80px);
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: var(--primary-color);
  border-radius: 8px;
  border: none;
}
.form input[type=submit]:focus {
  outline: none;
}
